*{

font-family: georgia, cursive;
font-weight: 100;
font-size: 40px;
}

div{
	width: 45%;
	display: inline-block;
	padding: 20px;
	background: #ddd;
}

h1{
	font-size: 80px;
}
.caja2{
	background: #bbb
}

@media only screen and(max-width: 1000px){
	div{
		display:block;
		width:100%;
	}
}




