*{
	font-family: georgia;
	font-weight: 100;
}


.container{
filter: contrast(20);
background-color: #fff 
}


.caja1,.caja2{
	display: inline-block;
	width: 150px;
	height: 150px;
	background: green;
	margin:40px;
	border-radius: 50%;
	filter: blur(10px);
}

.caja1  {
animation:trasladar 1.6s alternate infinite ;

}



@keyframes trasladar{
	0% {
		transform: translate(0px);
	}
	100% {
		transform: translate(230px);
	}
}




