*{

font-family: georgia, cursive;
font-weight: 100;
font-size: 40px;
}

/*form{
margin:100px auto;
display: block;
background: blue;
padding: 50px;
width: 50%;


}
input{
padding: 10px;
width: 100%
}

/*seudo elemento
input::placeholder{
	color: red;
	font-size: 20px;
	
}

input::selection{
	color: red;
	background: black;
}*/

.caja{
	height: 200px;
	width: 200px;
	background: blue;
	transition-property: background;
	transition-duration: 1s;
	margin: 50px;
	animation-name: despla;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-fill-mode: forwards;
}
.caja:hover{
	background: red;
	transform: skew(-30deg);
}

.caja:mth-child(1){
transition-timing-function: linear;

}

.caja:mth-child(2){
	transition-timing-function: aese;
}

.caja:mth-child(3){
	transition-timing-function: aese-in;
}

.caja:mth-child(4){
	transition-timing-function: aese-out;
}

.caja:mth-child(5){
	transition-timing-function: aese-im-out;
}

@keyframes despla{
	0%{
		left:0;
		background: green;
	}
	50%{
		background: red;
	}
	100%{
		background: blue;
	}


}



